<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title>Profile</title>
	
	<style>
		#map{
			height:700px;
			width: 100%;
		}
		.map-button{
    		border:none;
    		padding: 25px 15px;
    		border-radius:25px;
    		margin-bottom:25px;
		}
	</style>
	<script async defer 
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIs3GU0KvLEdCCQN4spfL8zxgceUbUhsg&callback=initMap"
></script>
</head>
<body>
    <h1>Welcome to your profile {{ name }}</h1>
	
    <div id="map"></div>

	<script type="text/javascript">
		function initMap(){
			//Map options 
			const myCenter={lat:59.194688, lng:17.968894};
			

			//New map
			const map = new google.maps.Map(document.getElementById("map"),{
				zoom: 8,
				center: myCenter,
			});

			
			{% for i in coordinates %}
				//addMarker({lat:{{i["x"]}}, lng:{{i["y"]}}})
				new google.maps.Marker({
					position:{ lat: {{i["x"]}}, lng:{{i["y"]}} },
					map,
					icon: "https://maps.google.com/mapfiles/ms/icons/pink-dot.png",				
				});
			{% endfor %}

			{% for i in coordinates2 %}
				//addMarker({lat:{{i["x"]}}, lng:{{i["y"]}}})
				new google.maps.Marker({
					position:{ lat: {{i["x"]}}, lng:{{i["y"]}} },
					map,
					icon:"https://maps.google.com/mapfiles/ms/icons/purple-dot.png",
					
				});
			{% endfor %}

			{% for i in coordinates3 %}
				//addMarker({lat:{{i["x"]}}, lng:{{i["y"]}}})
				new google.maps.Marker({
					position:{ lat: {{i["x"]}}, lng:{{i["y"]}} },
					map,
					icon:"https://maps.google.com/mapfiles/ms/icons/green-dot.png",
				});
			{% endfor %}

			{% for i in coordinates4 %}
				//addMarker({lat:{{i["x"]}}, lng:{{i["y"]}}})
				new google.maps.Marker({
					position:{ lat: {{i["x"]}}, lng:{{i["y"]}} },
					map,					
				});
			{% endfor %}

		}

	</script>
	
		<div class="map-button">
			<a href="/maps">
				<button type="submit" class="button is-success"> Go To Map </button>
			</a>			
		</div>
	
</body>
</html>